.slider {
  position: relative;
  height: 400px;
  overflow: hidden;
}

/* 슬라이드 */
.slider {
  position: relative;   /* 🔥 이게 없으면 100% 실패 */
  height: 400px;
  overflow: hidden;
}

.slide.active {
  opacity: 1;
}

.logo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;   /* 🔥 무조건 위로 */
}

.logo-overlay img {
  width: 180px;
}
